{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>
    <meta charset="utf-8" />
    <body>

        {% for reporte in reportesUnificar %}
            <div align="center" style="margin-left:35pt; margin-right:35pt">
                <table cellspacing="5" cellpadding="1">
                    <td>
                        <table cellpadding="0" cellspacing="0">
                            <td>
                                <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;align:center;">
                                    <b>Líder Estratégico</b>
                                </p>
                            </td>
    
                            <td>
                                <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;align:center">
                                    <b>Líder Ejecutivo</b>
                                </p>
                            </td>
                            
                            <table style="margin-top:0pt">
                                <td></td>

                                <td style="background-color:#fcefd5;" colspan="6">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center;">
                                        {{reporte.actor.dependencia}}
                                    </p>
                                </td>
                                    
                                <td></td>

                                <td style="background-color:#fcefd5; " colspan="6">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center">
                                        {{reporte.actor.sigla}}
                                    </p>
                                </td>

                                <td></td>
                            </table>
                        </table>
                    </td>
                </table>
            </div>
            {# Ciclo de acciones incluídas en el reporte#}
            {% for accion in reporte.reporte_acciones.all %}
                <div align="center" style="margin-left:35pt; margin-right:35pt">
                    <table cellspacing="5" cellpadding="1">                                                
                        <p style="padding-top:4pt">
                            <strong style="color:#385280;margin-top:15pt">.- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                            </strong>
                        </p> 
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <td></td>
                                <td colspan="5">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;text-align:left;">
                                        <b>Identificador acción:</b>
                                    </p>
                                </td>
                                <td></td>
                                <td colspan="8">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;text-align:left">
                                        <b>Título:</b>
                                    </p>
                                </td>
                                <td></td>
                                <table style="margin-top:0pt">
                                    <td></td>

                                    <td style="background-color:#fcefd5;" colspan="5">
                                        <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;text-align:center;">
                                            {{accion.accion.id_uaysen}}
                                        </p>
                                    </td>
                                        
                                    <td></td>

                                    <td style="background-color:#fcefd5; " colspan="8">
                                        <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;text-align:center">
                                            {{accion.accion.titulo}}
                                        </p>
                                    </td>

                                    <td></td>
                                </table>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <td></td>
                                <td colspan="5">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;text-align:left;">
                                        <b>Estado de Ejecución</b>
                                    </p>
                                </td>
                                <td></td>
                                <td colspan ="8">
                                    <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:0pt;text-align:left">
                                        <b>Recomendaciones</b>
                                    </p>
                                </td>
                                <td></td>
                                <table style="margin-top:0pt">
                                    <td></td>

                                    <td style="background-color:#fcefd5;" colspan="5">
                                        <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center;">
                                            {{accion.indicador_logro}}
                                        </p>
                                    </td>
                                        
                                    <td></td>

                                    <td style="background-color:#d9e2f3; " colspan="8">
                                        <p style="color:#385280; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center">
                                            {{accion.recomendacion}}
                                        </p>
                                    </td>

                                    <td></td>
                                </table>
                            </table>
                        </td>         
                    </table>
                </div>
                {#</div>#}
                
                <table style="margin-top:30pt;">
                    <td>
                        <!--Icono-->
                    </td>
                    <td colspan="9">                            
                        <table cellpadding="0" cellspacing="0" style="width:441.8pt; border:0.75pt solid #385280;  margin-left:3pt">
                            <td >
                                <p style="color:#385280; padding-top:6pt; padding-right:80pt">
                                    <b>Evaluación entrega a Medios de Verificación</b>
                                </p>
                            </td>
                        </table>
                    </td>   
                    <td colspan="5">
                        <p style="padding-top:4pt">
                            <strong style="color:#385280;margin-top:15pt">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                            </strong>
                        </p>                    
                    </td>
                </table>
                </br>
            
                <div align="center" style="margin-left:35pt; margin-right:35pt">
                    {# Ciclo para Funciones (si existen) de la accion #}
                    {% if accion.reporte_funciones.all %}
                        {% for reporteFuncion in accion.reporte_funciones.all %}
                            <table cellspacing="5" cellpadding="1">
                                <td>
                                    <strong style="text-align:center; color:#385280; font-size:10pt;">
                                        Función:
                                    </strong>    
                                </td>
                                <tr>
                                    <td>
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#fcefd5;">
                                            <p style="color:#385280; font-size:8pt; padding-top:9pt;padding-bottom:3pt;text-align:left; padding-left:70pt;padding-right:50pt">
                                                <b>{{reporteFuncion.id_tactica}} | </b>
                                                <b>{{reporteFuncion.funcion}}</b>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <table style="margin-top:8pt;width:10%;">
                                    <tr>
                                        <td style="">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                <b>MDV</b>
                                            </p>
                                        </td>
                                        <td>
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                <b>Indicador avance</b>
                                            </p>
                                        </td>
                                    </tr>
                                    <!--<tr>-->
                                    <table style="width: 80%;padding-left:1pt">
                                        <td colspan="8">
                                            <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                                <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;text-align:left;padding-left:25pt">
                                                        {% for indicador in reporteFuncion.funcion.indicador_set.all %}
                                                            {{accion.accion.id_uaysen}}_{{reporteFuncion.id_tactica}}_ {{indicador.nombreVerificador}}
                                                        {% endfor %}
                                                </p>
                                            </div>
                                        </td>
                                        <td colspan="6" style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                            <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                                <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                    <b>{{reporteFuncion.indicador}}%</b>
                                                </p>
                                            </div>
                                        </td>
                                        <td style="background-color:#00000;">
                                        </td>
                                    </table>
                                </table>
                                <table style="margin-top:10pt">
                                    <tr>
                                        <td>
                                            <p style="color:#385280; font-size:8pt; padding-top:2pt;padding-bottom:0pt;align:center">
                                                <b>Comentarios al cumplimiento</b>
                                            </p>
                                        </td>
                                    </tr>

                                    <table style="margin-top:0pt">
                                        <tr>
                                            <td>
                                            </td>
                                            <td colspan="13" style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                                <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                    {{reporteFuncion.comentario_cumplimiento}}
                                                </p>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </table>

                                <p style="font-size:8pt;">
                                    <strong style="color:#385280;">.- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                                    </strong>
                                </p>
                            </table>                            
                        {%endfor%}
                        {#Fin validacion Funciones disponibles#}
                    {% endif %}

                    {# Ciclo para Hitos (si existen) de la accion #}
                    {% if accion.reporte_hitos.all %}
                        {% for reporteHito in accion.reporte_hitos.all %}
                            <table cellspacing="5" cellpadding="1" style="margin-top:10pt">
                                <td>
                                    <strong style="text-align:center; color:#385280; font-size:10pt;">
                                        Hito:
                                    </strong>    
                                </td>

                                <tr>                                
                                    <td>
                                        <div style="border: solid 0 #385280;background-color:#fcefd5;">
                                            <p style="color:#385280; font-size:8pt; padding-top:9pt;padding-bottom:3pt;text-align:left; padding-left:70pt; padding-right:50pt">
                                                <b>{{reporteHito.id_tactica}} | </b>
                                                <b>{{reporteHito.hito}}</b>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <table style="margin-top:8pt;width:10%">
                                    <tr>
                                        <td></td>
                                        
                                        <td colspan="5">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                <b>MdV</b>
                                            </p>
                                        </td>
                                        
                                        <td></td>

                                        <td colspan="3">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                <b>Logro</b>
                                            </p>
                                        </td>
                                        
                                        <td></td>
                                    
                                        <td colspan="5">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                <b>Indicador avance</b>
                                            </p>
                                        </td>
                                    
                                        <td></td>
                                    </tr>
                                    
                                    <table style="width: 80%;padding-left:36pt" cellpadding="0">
                                        <td></td>
                                        
                                        <td colspan="5" style="border: solid 0 #385280; padding-left:0pt;background-color:#d9e2f3; margin-right: 80%;">
                                            <p style="color:#385280; font-size:8pt; padding-top:15pt;padding-bottom:3pt;align:center">
                                                {% for mdv in reporteHito.mdvs.all %}
                                                    {{accion.accion.id_uaysen}}_{{reporteHito.id_tactica}}_ {{mdv.nombre|wordwrap:18}}
                                                    <br>
                                                {% endfor %}
                                            </p>
                                        </td>
                                        
                                        <td></td>
                                        
                                        <td colspan="2" style="border: solid 0 #385280; padding-left:0.5pt; margin-right: 80%; background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; padding-left:9pt;">
                                                {{reporteHito.indicador}}%
                                            </p>
                                        </td>
                                        
                                        <td></td>
                                        
                                        <td colspan="5" style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                {{reporteHito.indicador_logro}}
                                            </p>
                                        </td>
                                    
                                        <td></td>
                                    </table>
                                    
                                    <table style="margin-top:10pt">
                                        <tr>
                                            <td>
                                                <p style="color:#385280; font-size:8pt; padding-top:2pt;padding-bottom:0pt;align:center">
                                                    <b>Comentarios al cumplimiento</b>
                                                </p>
                                            </td>
                                        </tr>

                                        <table style="margin-top:0pt">
                                            <tr>
                                                <td></td>

                                                <td colspan="13" style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                                    <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center">
                                                        {{reporteHito.comentario_cumplimiento}}
                                                    </p>
                                                </td>
                                                
                                                <td></td>
                                            </tr>
                                        </table>
                                    </table>
                                <!--<tr>-->
                                </table>
                                <p style="font-size:8pt;">
                                    <strong style="color:#385280;">.- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                                    </strong>
                                </p>
                            </table>
                        {%endfor%}
                        {#Fin validacion Hitos#}
                    {%endif%}
                </div>
                    
                    </br>                    
                    
                {%endfor%}

                {% comment %} {% include 'webapp/tabla_estado_ejecucion.html' with reporte=reporte %} {% endcomment %}
                {% comment %} <div align="center" style="margin-left:35pt; margin-right:35pt">
                    <table cellspacing="5" cellpadding="1" style="margin-top:10pt">
                        <td>
                            <strong style="text-align:center; color:#385280; font-size:10pt;">
                                Analista:
                            </strong>    
                        </td>

                        <tr>                                
                            <td>
                                <div style="border: solid 0 #385280;background-color:#fcefd5;">
                                    <p style="color:#385280; font-size:8pt; padding-top:9pt;padding-bottom:3pt;text-align:center; padding-left:0pt">
                                        <strong>{{reporte.usuario.first_name}} {{reporte.usuario.last_name}}</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <table cellspacing="5" cellpadding="1" style="margin-top:10pt">
                            <td>
                                <strong style="text-align:center; color:#385280; font-size:10pt;">
                                    Recomendaciones:
                                </strong>    
                            </td>
    
                            <tr>                                
                                <td>
                                    <div style="border: solid 0 #385280;background-color:#d9e2f3;">
                                        <p style="color:#385280; font-size:8pt; padding-top:9pt;padding-bottom:3pt;text-align:center; padding-left:0pt;padding-left:8pt;padding-right:8pt">
                                            {{reporte.recomendacion}}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </table>
                    <br/>
                            <br/>
                            <p style="font-size:8pt;">
                                <strong style="color:#385280;">.- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                                </strong>
                            </p>
                            <br/>

                            
                                <table style="width: 80%;padding-left:1pt;height:30pt ">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 0 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">
                                        <!--<div style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>Implementado</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 4 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; text-align:left">
                                                Todos los MDV fueron cumplidos en el plazo establecido en la acción.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>

                                <table style="width: 80%;padding-left:1pt; padding-top:2pt; padding-bottom:2pt;margin-top:4pt ; height:35pt">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 0 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">
                                        <!--<div style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>No implementado</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 4 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; text-align:left">
                                                No se cumplen todos los MdV en el plazo establecido en la acción.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>

                                <table style="width: 80%;padding-left:1pt; padding-top:2pt; padding-bottom:2pt; margin-top:4pt;height:35pt">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">
                                        <!--<div style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>En proceso</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 4 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; text-align:left">
                                                Se cumple al menos un MdV, restantes están en desarrollo en plazo de ejecución.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>

                                <table style="width: 80%;padding-left:1pt; padding-top:2pt; padding-bottom:2pt;margin-top:4pt ; height:35pt">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">
                                        <!--<div style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>Pendiente</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 4 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 80%;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; text-align:left">
                                                No se cumple ni un MDV, pero la acción sigue en plazo de ejecución.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>

                                <table style="width: 80%;padding-left:1pt; padding-top:2pt; padding-bottom:2pt; margin-top:4pt">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">
                                        <!--<div style="border: solid 2 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>No aplicable</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 4 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3; margin-right: 20%;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:2pt;padding-bottom:2pt;align:center; text-align:left">
                                                No se ejecuta la F o H por factores externos del responsable de la ejecución *Presenta justificación por contingencia.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>

                                <table style="width: 80%;padding-left:1pt; padding-top:2pt;  height:35pt; margin-top:4pt">
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="4" style="border: solid 0 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;height:100pt">
                                        <!--<div style="border: solid 0 #fcefd5; padding-left:0.5pt;background-color:#fcefd5;height:100pt">-->
                                            <p style="color:#385280;padding-left:5pt; font-size:8pt; padding-top:8pt;padding-bottom:3pt;align:center; text-align:left">
                                                <strong>No cumplido</strong>
                                            </p>
                                        <!--</div>-->
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                    <td colspan="8" style="border: solid 9 #FFFFFF; padding-left:0.5pt;background-color:#d9e2f3;">
                                        <div style="border: solid 0 #385280; padding-left:0.5pt;background-color:#d9e2f3;">
                                            <p style="color:#385280; font-size:8pt; padding-top:5pt;padding-bottom:3pt;align:center; text-align:left">
                                                Acción se deja obsoleta.
                                            </p>
                                        </div>
                                    </td>
                                    <td style="background-color:#00000;">
                                    </td>
                                </table>
                                <br/>
                            <p style="font-size:8pt;">
                                <strong style="color:#385280;">.- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -.
                                </strong>
                            </p>
                            <br/>
                            
                </div>                 {% endcomment %}
            {%endfor%}
        </div>

    </body>
</html>